#main_logo{
    width: 200px;
    margin-left: 205px;
    margin-top: 30px;
}
#search_box{
    border: 2px solid #00c73c;
    width: 470px;
    height: 38px;
    margin-left: 15px;
    margin-top: 40px;
    padding-left: 10px;
}
#search_but{
    border: 2px solid #00c73c;
    background: url(../image/search_but.png) no-repeat center;
    background-color: #00c73c;
    width: 45px;
    height: 44px;
    margin-top: 40px;
    margin-left: -5px;
}
a{
    font-family: "굴림";
    font-size: 8pt;
    text-decoration: none;
    color: #828282;
}
a:hover{
    text-decoration: underline;
    color: #828282;
}
a :active :visited{
    text-decoration: none;
    color: #828282;
}
#menu1 li{
    list-style: none;
    float: left;
    padding-right: 14px;
    margin-top: -3px;
    margin-bottom: 7px;
    color: #00c73c;
    font-family: "나눔스퀘어";
    font-weight: 800;
    font-size: 11pt;
}
#menu2 li{
    list-style: none;
    float: left;
    padding-right: 14px;
    margin-top: -3px;
    margin-bottom: 7px;
    color: black;
    font-family: "나눔스퀘어";
    font-weight: 800;
    font-size: 11pt;
}
#menu {
    border-top: thin solid #ededed;
    border-bottom: thin solid #cccccc;
    width: 100%;
    height: 30px;
    margin-top: 35px;
}
#menu1 li, #menu2 li:hover{
    cursor: pointer;
}